.App {
  text-align: center;
}

.table-header-label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-header-sort-icon {
  font-size: 25px;
}

table,
th,
td {
  border: 1px solid black;
}

th {
  background-color: black;
  color: white;
}
